h1, h2, h3, h4 {
  color: $accentColor;
  font-weight: bolder;
  border: none;
}

.page .page-title {
   display: none;
}

/* 自定义 Markdown 引用的颜色 */
.page blockquote {
  border-left: 4px solid #3eaf7c;
  margin: 15px 0;
  padding: 10px 15px;
  color: #0f8d2a;
}


// 通过检查，查看元素样式声明
.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #fff;
}

.page blockquote code {
  color: #202020;
}